# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore pyenv.
pyenv
!pyenv/.gitkeep

# Ignore sass cache.
.sass-cache

# Django specific.

# Ignore sqlite db directory, since those are only used in development.
app/data/db/*
!app/data/db/.gitkeep

app/data/logs/*
!app/data/logs/.gitkeep

